<div class="container details">
    <div class="details__header">
        <div mat-card-avatar>avatar</div>
        <div class="example-header-image"></div>
        <div class="details__title">
            <h2>Lorem ipsum dolor sit amet.</h2>
        </div>
    </div>
    <div class="details__content">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ad sequi sunt amet aliquid quos?
            Perspiciatis, pariatur deserunt, nam eveniet maxime et ratione saepe quisquam deleniti beatae quod, eligendi
            optio?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sint odio nostrum in sequi omnis beatae
            id vel perferendis, sunt eaque ducimus facilis nisi ipsum consequuntur nulla amet totam corrupti!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque magnam eaque assumenda mollitia
            necessitatibus? Provident, minus ea. Corporis magni id vel aliquid eligendi omnis soluta labore molestias ea
            praesentium. Temporibus!</p>
    </div>
    <div class="details__actions">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </div>
</div>